<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home</title>
</head>

<body>
    <main class="container">
        <div class="main__content">

            <div class="title">
                <h1>Find Dosen</h1>
                <p>Cari dosen dari inisialnya</p>
            </div>

            <!-- <div class="form-section">
                <input type="text" name="form__bar" id="form__bar" class="form__bar">
            </div> -->

            <div class="form-section">
                <div class="search-bar">
                    <input type="text" name="inisial" id="search-box" class="form__bar" onkeyup="sendData(this)">
                </div>

                <div class="new-section">
                    <a href="/new">
                        <button type="submit" class="btn-new">Add New</button>
                    </a>
                </div>
            </div>

            <section class="searchResults" onkeyup="sendData(this)">
                
            </section>


        </div>

    </main>

    <script src="js/script.js"></script>
</body>
</html>