<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/newDosen.css">
    <title>Create New Dosen</title>
</head>

<body>
    <main class="container">
        <div class="form-container">
            <form action="/new" method="POST" class="new-form">
                <input type="text" placeholder="Nama Dosen" required="required">
                <input type="text" placeholder="Inisial" required="required">
                <input type="text" placeholder="Lab (Opsional)">
                <input type="text" placeholder="Status (Opsional)">

                <button type="submit" class="submit-btn">Create</button>
            </form>
            
            <a href="/" class="cancel-btn">
                Cancel
            </a>
        </div>
    </main>    
</body>
</html>